.divMay {
    display: flex;
    justify-content: space-around;
    height: 100vh;
    width: 100%;
    background-image:url("https://i.pinimg.com/564x/20/f2/ab/20f2ab278256a2465a097e446f09a634.jpg"); 
    background-size: cover;
    background-attachment: fixed; 
    align-items: center;
    font-size: 15px;
}

.contenedor{
    background-image: url("https://i.pinimg.com/564x/e6/b9/1c/e6b91c8632b7201548b23f493826c7f6.jpg") ;
    background-size: cover;
    color: white;
    display: flex;
    justify-content: space-around;    
    border-radius: 10px;
    border: 4px solid black;
    padding: 140px;
    padding-bottom: 220px;
    padding-top: 50px;
    margin-bottom: 200px;
    margin-top: 0px;
    margin-left: 30px;
    margin-right: 30px;
    backdrop-filter: blur(5px);
    height: 400px;
    width: 1200px;
}

.formulario {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 100px;
    margin-top: -25px; 
}

.titulo {
    font-family: 'Antonio', sans-serif;
    font-size: 35px;
    color: black;
    padding: 100px;
    padding-top: 90px;
}

.input {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: black;
    font-size: 22px;
}

.input1 {
    padding: 5px;
    font-size: 15px;
    border-width: 3px;
    border-color: #05040f;
    background-color: #FFFFFF;
    color: #000000;
    border-style: solid;
    border-radius: 16px;
    box-shadow: 3px 6px 15px rgba(66,66,66,.75);
    text-shadow: 0px 0px 5px rgba(66,66,66,.75);
}

.input2 {
    padding: 5px;
    font-size: 15px;
    border-width: 3px;
    border-color: #05040f;
    background-color: #FFFFFF;
    color: #000000;
    border-style: solid;
    border-radius: 16px;
    box-shadow: 3px 6px 15px rgba(66,66,66,.75);
    text-shadow: 0px 0px 5px rgba(66,66,66,.75);
}
.lista {
    margin-left: 0;
    padding-right: 75px;
    display: flex;
    list-style:none;
    color: black;
}

.Btn{
    border-radius: 15px;
    padding: 5px;
    margin: 5px;
    width: 52rem;
    height: 3rem;
    background-color:blue;
    background-color:black;
    color: white;
    cursor: pointer;
    font-family: 'Antonio', sans-serif;
}

.CBut{   
    float: left;
    font-size: 10px;
    padding: 3px 10px;
    margin-right: 5px;    
    margin-left: 20px;
    border: solid 1px black;
    border-radius: 8px;
    flex-wrap: wrap;
    backdrop-filter: blur(20px);
    background-color:black;
    color: white;
}